$primary: #4664A2;

@import '~bootstrap/scss/bootstrap.scss';

.btn-outline-primary {
	border-width: 2px;
}

header {
	background-color: map-get($theme-colors, "primary");
	font-size: 1.5em;
}
header span {
	color: white;
}
header span.title {
	font-size: 1.1em;
}
header span.subtitle {
	font-size: 0.85em;
}

h1 {
	margin-bottom: 2rem;
}

.subcontainer {
	border-radius: 10px;
	background-color: #f7f7ff;
	padding: 2rem;
}

#dashboard-accordion .card-header {
	padding: 1.2rem;
	font-weight: bold;
}

table th {
	border-top: none !important;
}

form .row {
	margin-bottom: 1rem;
}
